<%- include("./layouts/header") %>

<h1 class="title">Role Based Access Control</h1>
<div class="rbac_info">
    <ol class="rbac_info">
        <li><b>ExpressJS</b></li>
        <li><b>EJS</b> Templating engine</li>
        <li><b>Styling - </b>custom CSS</li>
        <li><b>PassportJS</b> local authentication (email, password)</li>
        <li><b>Role</b> (admin, moderator, client)</li>
        <li><b>Authorization</b> (admin, moderator and user routes)</li>
        <li><b>Mongoose</b> (ORM for MongoDB)</li>
        <li>How to user <b>Express Sessions</b></li>
        <li>Using session to <b>persist login </b>after server reboot (using Mongo store)</li>
        <li><b>Redirect</b> to same page after login</li>
        <li><b>Validating</b> user input server side</li>
        <li><b>Flash Messages</b></li>
        <li>Handling <b>HTTP Error</b> (ex: 404, etc)</li>
    </ol>
</div>

<%- include("./layouts/footer") %>